@keyframes hoveran {
    0% {
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, rgb(0, 48, 0)), no-repeat;
    color: rgb(34, 139, 34);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    height: 100vh;
}
header, footer {
    padding: 1rem;
    text-align: center;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 0 1rem;
    transition: transform 0.2s;
    transform: scale(1.0);
}
nav ul li:hover {
    transform: scale(1.02);
}
nav ul li a {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: rgb(34, 139, 34);
    transition: color 0.2s ease-in-out;
}
nav ul li a:hover {
    color: rgb(38, 192, 0);
}
main {
    padding: 2rem;
    flex: 1;
}

#ptitle:hover{
    transform: scale(1.05);
}

#ptitle{
    display: inline-block;
    transition: transform 0.2s;
    transform: scale(1.0);
}

#ptitle a:hover{
    color: rgb(38, 192, 0);
    cursor:pointer;
}

#ptitle a{
    text-decoration: none;
    color: rgb(34, 139, 34);
    transition: color 0.2s ease-in-out;
}

#contact-button{
    display: flex;
    position: absolute;
    width: 8%;
    height: 4%;
    left: 45%;
    top: 35%;
    background-color: rgb(27, 112, 27);
    justify-content: center;
    align-items: center;
    color: black;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    border: solid black;
    font-size: 20px;
    text-align: center;
}

#contact-button:hover{
    cursor:pointer;
}

#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;        
}
  
#profile-pic {
    width: 256px;            
    height: 256px;          
    border-radius: 50%;       
    border: 5px solid rgb(34, 139, 34); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    object-fit: cover;
}

#profile-container p{
    max-width: 50%;
}
